@supports(-webkit-mask-image: url(#mask)) or (mask-image: url(#mask)) {
  /* code that requires mask-image here. */
}

a {
  text-shadow: rgb(6, 1, 20);
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/PH-Olympus.jpg');
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  z-index: 0;
}

.autoScroll {
  /* /  */
}

.banner {
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(40px + 2vmin); */
  color: rgb(255, 255, 255);
  width: 100%;
  z-index: 5;
  box-shadow: 0px 6px 8px 6px rgb(0 0 0 / 20%);
  filter: grayscale(100%);
}

body, html {
  scroll-behavior: smooth;
  /* height:100%; */
  /* height: 100vh; */
  /* width: 100vw; */
}

.brand {
  height: 6vh;
  object-fit: contain;
}

.btn-success {
  background-color: rgb(53, 194, 86) !important;
}

.condense {
  padding: 0px;
  margin: 0px;
}

.crown {
  width: 7px;
  height: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  object-fit: scale-down;
}

.distortion {
  color: rgba(51, 51, 51, 0.295);
  background-image: url('./assets/trippy.gif');
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  width: 100%;
  filter: grayscale()
}

.editfooter {
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgba(53, 0, 53, 0.808);
  color: white;
  text-align: center;
  z-index: 5;
}

.editStart {
  background: linear-gradient(rgba(30, 2, 30, 0.651), rgba(255, 176, 31, 0.445));
  color: whitesmoke;
  position: Absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  padding-bottom: 10px;
  position: relative;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  height: 62.5%;
}

.favorites {}

.footborder {
  background: linear-gradient(rgb(165, 92, 9), rgb(30, 2, 30, 1));
  position: fixed;
  height: 1.5vh;
  width: 100vw;
  z-index: 21;
  bottom: 100.5px;
  border: 0px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  color: white;
  text-align: center;
  z-index: 2;
  overflow-y: hidden;
}

.form, .form-group {
  display: inline-block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.frame {
  max-width: min-content;
}

.home {
  background-color: #00000000;
  color: rgb(58, 57, 57);
  font-size: calc(50px + 2vmin);
  margin-top: 18vh;
  z-index: 5;
  overflow: hidden;
  position: relative;
}

.homefooter {
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgba(53, 0, 53, 0.808);
  color: white;
  text-align: center;
  z-index: 5;
}

.homenavbar {
  background: linear-gradient( rgb(6, 1, 20), rgba(16, 4, 48, 0.795));
  height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  width: 100%;
  z-index: 21;
  box-shadow: 0px 6px 8px 6px rgb(0 0 0 / 20%)
}

.loggedin {
  color: rgb(255, 217, 0) !important;
}

.loggedout {
  color: darkgray !important;
}

.main {
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  /* top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; */
}

.memeDisplay {
  position: relative;
  height: 75%;
  width: 300px;
  zoom: 1;
  object-fit: scale-down;
  background: linear-gradient(rgba(30, 2, 30, 0.651), rgba(255, 176, 31, 0.445));
  border-radius: 1px;
  border-style: groove;
  border-color: rgb(255, 255, 255);
  z-index: 5;
}

.memeScroller {
  width: 100vw;
  height: 55vh;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 13vh;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.memeScroller div {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  float: none;
  height: 60vh;
  display: inline-block;
  zoom: 1;
  z-index: 3;
  position: relative;
}

.memeTitle {
  color: white;
  position: absolute;
  text-shadow: 0px 0px 20px rgba(30, 2, 30, 0.651);
  background-image: radial-gradient( rgba(102, 0, 68, 0.329), rgba(255, 255, 255, 0));
  white-space: normal;
  max-width: 300px;
  width: 300px;
  height: auto;
  text-align: center;
  z-index: 20;
}

.mid-section {
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow: hidden;
  align-items: center;
}

.navbar-collapse {
  background-color: #0a0321;
}

.navbar-toggler-icon {
  color: white;
}

/* 
.ripple:after {
  height: 10px;
  top: -45px;
  position: relative;
  border-radius: 50%;
  display: block;
  background-color: #ffffff00;
  z-index: -1;
}

.ripple:hover::after {
  -webkit-animation: ripple 1s ease-out;
  -moz-animation: ripple 1s ease-out;
  -ms-animation: ripple 1s ease-out;
  -o-animation: ripple 1s ease-out;
  animation: ripple 1s ease-out;
}

@keyframes ripple {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
    transform: translate(-25px, -25px);
  }
} */

/* 
.row {
  display: flex;
  
} */

/* .searchbox {
  
} */

.searchfooter {
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgba(53, 0, 53, 0.808);
  color: white;
  text-align: center;
  z-index: 5;
}

.selected {
  border-radius: 13px;
  border-style: double solid;
  border-color: rgb(63, 246, 105);
  background-color: rgb(63, 246, 105, .5);
  filter: grayscale(20%) drop-shadow(5px 5px 10px black);
}

/* 
/* div.myfooter {
  transition: margin-top 1s;

}

div.myfooter a:hover {
  margin-top: -50px;
  background-color: white;
  height: 100px;
} */

/* .module:not(.old-school) {
  animation: flyin 1.2s ease forwards;
  opacity: 0;
  transform: scale(2);
  

  -webkit-filter: blur(4px);
} */

/* 
@keyframes flyin {
   to { 
     filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
} */

.thumbnailDisplay {
  height: 100px;
  width: 100px;
  zoom: 0;
  object-fit: cover;
  /* object-position: 50% 50%; */
  background: linear-gradient(rgba(30, 2, 30, 0.651), rgba(255, 176, 31, 0.445));
  border-radius: 1px;
  border-style: groove;
  border-color: rgb(255, 255, 255);
}

.thumbnailScroller {
  width: 100%;
  height: 100px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 3px;
  background-color: rgba(255, 255, 255, 0);
}

.thumbnailScroller div {
  width: 100px;
  background-color: rgba(255, 255, 255, 0);
  float: none;
  height: 100%;
  /* margin-right: 5px; */
  display: inline-block;
  zoom: 0;
  z-index: 5;
}

.tips {
  top: 10vh;
  margin-left: 5px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  width: 100vw;
  height: 7vh;
  display: block;
  position: relative;
  z-index: 3;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  word-wrap: break-word;
  color: azure;
  text-shadow: black;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.xy-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: max-content;
}

/* hompage section */

/* vvvvvvvvvvvvvvvvvvvvvv */

/* 
 */

.forge {
  /* background-color: darkorange; */
  background-color: rgba(210, 180, 140, 0);
}

.vault {
  /* background-color: brown; */
  background-color: rgba(210, 180, 140, 0);
}

.archives {
  /* background-color: tan; */
  background-color: rgba(210, 180, 140, 0);
}

/* Designing for scroll-bar */

::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(248, 230, 196, 0.445);
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(29, 0, 46, 0.863);
  border-radius: 15px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 233, 107);
}