/* .footborder {
    background:linear-gradient(rgba(255, 136, 0, 0.377), rgb(30, 2, 30, 1));
    position: relative;
    height: 1.5vh;
    width: 100vw;
    z-index: 15;
    bottom: 101.5px;
    border: 0px !important;
}

.loggedin {
    color: rgb(255, 217, 0) !important;
} */